@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&family=Source+Sans+Pro:wght@600&display=swap');
body{
    font-family:'Arvo', serif;
    font-size:15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color:#ffffff;
    color:#777777
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
ul{
    margin:0;
    padding:0;
}

/*Header**/

header{
    background:#fffff;
    color:#ed786a;
    padding-top30px;
    min-height:70px;
    border-bottom:#a9a9a9 3px solid;
}
header a{
    color:#777777;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #logo{
    float:left;
}
header #branding h1{
    margin:0;
    
}
header h1{
    font-family:'Arvo'serif;
}
/* Navigation **/

header nav{
    float:right;
    margin-top:10px;
}
header a:hover{
    color:beige;
    
}
#logo img {
    
    width:150px;
    
}


h1,h2,h3,h4,h5,h6{
    font-family:'Roboto', sans-serif;
}

/* Boxes **/
#boxes{
    margin-top:20px;
}
#boxes .box{
    float:left;
    width:30%;
    padding:10px;
    text-align:center;
}
#boxes .box img{
    border: solid 3px #d8caca;
}

footer{
    padding:20px;
    margin-top:20px;
    text-align: center;
    
}



