                        @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&family=Source+Sans+Pro:wght@600&display=swap');
                        body {
                            font-family: 'Roboto', san serif;
                            font-size: 15px;
                            line-height: 1.5;
                            padding: 0;
                            margin: 0;
                            color: #777777;
                        }
                        
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            font-family: 'Arvo', serif;
                            color: #ED786A;
                        }
                        
                        p {
                            color: #777777;
                        }
                        
                        .container {
                            display: flex;
                            width: 100%;
                            max-width: 1100px;
                            margin: auto;
                            overflow: hidden;
                        }
                        /* HEADER */
                        
                        .header_container {
                            display: flex;
                            justify-content: space-between;
                        }
                        
                        header {
                            background-color: blanchedalmond;
                            color: #ED786A;
                            padding-top: 30px;
                            min-height: 100px;
                        }
                        
                        header a {
                            color: #777777;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 16px;
                        }
                        
                        header li {
                            display: inline;
                            padding: 0 20px 0 20px;
                        }
                        
                        header #logo {
                            float: left;
                        }
                        
                        header h1 {
                            font-family: 'Arvo'serif;
                        }
                        /*NAVIGATION */
                        
                        ul {
                            margin: 0;
                            padding: 0;
                        }
                        
                        nav {
                            float: right;
                            margin-top: 10px;
                        }
                        
                        nav li {
                            background-color: #ED786A;
                            border-radius: 5px;
                            padding: 5px;
                            margin: 10px;
                        }
                        
                        header a:hover {
                            color: beige;
                        }
                        /*LOGO*/
                        
                        .logo_container img {
                            width: 150px;
                        }
                        
                        .s_container {
                            display: flex;
                        }
                        /*BOXES*/
                        
                        .s_container .box img {
                            border: solid 3px #d8caca;
                        }
                        
                        .box {
                            width: 30%;
                            float: left;
                            padding: 10px;
                            text-align: center;
                        }
                        
                        .potato_salad {
                            text-align: center;
                        }
                        /*BLOG*/
                        
                        .blog {
                            display: flex;
                            justify-content: space-around;
                        }
                        
                        .blog_container {
                            text-align: center;
                        }
                        
                        .vegan_container {
                            float: left;
                            width: 30%;
                            padding: 10px;
                            text-align: center;
                        }
                        
                        .vegan_container img {
                            width: 100px;
                            border: solid 3px #d8caca;
                        }
                        
                        .bbq_container {
                            float: left;
                            width: 30%;
                            padding: 10px;
                            text-align: center;
                            flex-direction: column;
                        }
                        
                        .bbq_container img {
                            width: 100px;
                            border: solid 3px #d8caca;
                        }
                        /*ABOUT*/
                        
                        .about_container {
                            text-align: center;
                        }
                        /*TEAM SECTION*/
                        
                        .team_container {
                            display: flex;
                            float: left;
                            text-align: center;
                        }
                        
                        .team_container img {
                            width: 50%;
                            border-radius: 40%;
                            display: block;
                            margin: auto;
                        }
                        /*Contact Form **/
                        
                        #contact {
                            text-align: center;
                        }
                        
                        form {
                            max-width: 420px;
                            margin: 50px auto;
                            background-color: bisque;
                        }
                        
                        form input {
                            width: 100%;
                            padding: 12px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            box-sizing: border-box;
                            margin-top: 6px;
                            margin-bottom: 16px;
                            resize: vertical;
                        }
                        /*FOOTER*/
                        
                        footer {
                            padding: 20px;
                            margin-top: 20px;
                            text-align: center;
                        }
                        /* Media Quieries **/
                        
                        @media (max-width:500px) {
                            .s_container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                            .header_container {
                                display: flex;
                                flex-direction: column;
                            }
                            .logo_container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                            .nav_container li {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                            .team_container {
                                display: flex;
                                flex-direction: column;
                            }
                        }